.soy.dos{
    text-align: center;
    font-size: 2.5rem;
}

.text.tres{
    width: 95%;
    text-align: center;
    
    
}


@media (max-width:768px) {
    .soy.dos{
        font-size: 1.2rem;
    }

    .despues.tres{
        display: block !important;
        margin: 0;
        padding: 0;
    }

    .text.tres{
        width: 100%;
        text-align: center;
        padding: 4%;
    }

    .sobre.tres{
        width: 95%;
        height: auto;
        align-items: center;
    }

    .imagenes.dos{
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 40%;
        padding: 0;
        align-items: center;
        gap: 10%;
    }

    .cerrar{
        margin-top: 15%;
        color: black;
        margin-left: 5%;
    }


}