@font-face {
    font-family: 'yhlqmdlg';
    src: url(../../../fonts/Y.ttf);
  }

.separador{
    position: absolute;
    height: 100px;
}
.separador:hover{
    background-color: red;
    cursor: pointer;
}

.sobre.dos{ 
    padding-top: 10%;
}

.despues.dos{
    gap: 2%;
}

.imagenes{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 5%;
    width: 40%;
    height: 70vh;
    min-width: 500px;
}




.categorias{
    width: 35%;
    height: 20%;
    border-radius: 5px;

}

.categorias.dos{
    width: 40%;
    height: 30%;
    
}
.absoluto{
    position: absolute;
    margin-left: 20%;
    margin-top: 10%;
    z-index: 3;
    min-width: 400px;

}
.categorias.tres{
    margin-left: 10%;
    width: 23%;
    height: 22%;
    border-radius: 5px;
}
.categorias.cuatro{
    margin-left: 20%;
    margin-top: 20%;
    width: 10%;
    height: 20%;
    position: absolute;
    z-index: 4;
    border-radius: 5px;

}
.categorias.cinco{
    width: 15%;
    height: 17%;
    border-radius: 5px;
    position: absolute;
    margin-left: 19%;
    z-index: 2;
}


.tituloSecundario{
    font-family: 'yhlqmdlg';
    color: white;
    text-shadow: 0px 2px 1px  rgb(133, 95, 239);

}

.text.dos{
    color: white;
    font-size: 4rem;
    
}



section{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 430px;
}

section img{
    width: 0px;
    min-width: 50px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
}
img :hover{
    cursor: pointer;
    background-color: red;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}


@media (max-width:768px) {

    .sobre.dos{ 
        margin-top: 20%;
    }

    .imagenes{
        margin-top: 25%;
        display: block;
        height: auto;
        min-width: 200px;

    }
    .categorias.cuatro{
        margin-left: 15%;
        margin-top: 0%;
        width: 30%;
        height: 20%;
        position: relative;
       
        border-radius: 5px;
    
    }
    .categorias.cinco{
        width: 40%;
        height: 17%;
        border-radius: 5px;
        position: relative;
        margin-left: 20%;
        margin-top: 2%;
        
    }
    .categorias.tres{
        margin-left: 10%;
        width: 22%;
        height: 15%;
        border-radius: 5px;
    }

    .categorias{
        width: 48%;
        margin-left: 2%;
        height: 20%;
        border-radius: 5px;
    
    }

    .absoluto{
        position: relative;
        margin-left: 10%;
        margin-top: 10%;
        z-index: 3;
        min-width: 200px;

    }
    .categorias.dos{
        width: 40%;
        
    }
    
}