@font-face {
    font-family: 'yhlqmdlg';
    src: url(../../../fonts/Y.ttf);
}

.separador {
    position: absolute;
    height: 100px;
}

.separadorDos {
    height: 100px;
}

.sobre.dos {
    padding-top: 10%;
}

.despues.dos {
    gap: 2%;
}

.imagenes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5%;
    width: 35%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.categorias {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 30px black;
}

.text.dos {
    color: white;
}

.portada {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 470px;
}

.portas {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border-radius: 5px;
}

.portas:hover {
    cursor: crosshair;
    width: 100px;
    opacity: 1;
    filter: contrast(120%);
}



.porada {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 430px;
}

.item {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    width: 0;
}

.porta {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
}

.tituloDos {
    position: absolute;
    font-family: 'yhlqmdlg';
    font-size: 1.3rem;
    color: white;
    text-shadow: 0 2px 2px black;
    bottom: 200px;
    left: 20px;
}

.right {
    left: 45px;
}



.item:hover .porta {

    opacity: 1;
    width: 550px;
    filter: contrast(120%);
    cursor: pointer;
}

.item:hover .tituloDos {
    font-size: 1.7rem;
    color: greenyellow;
    cursor: pointer;
}


@media (max-width:768px) {

    .sobre.dos {
        margin-top: 20%;
    }

    .imagenes {
        gap: 3%;
        width: 50%;
        margin-top: 40%;
        margin-bottom: 30%;
        margin-left: 25%;
    }

    .categorias {
        width: 50%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0px 0px 30px black;
        
    }

    .text.dos {
        color: white;
        margin-top: 25%;
        margin-left: 25%;
        text-align: center;
        width: 100%;
    }

    .porada {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 430px;
    }
    
    .item {
        flex-grow: 1;
        position: relative;
        overflow: hidden;
        width: 0;
    }
    
    .porta {
        width: 90%;
        height: 100%;
        object-fit: cover;
        opacity: 0.8;
        transition: 0.5s ease;
    }
    
    .tituloDos {
        position: absolute;
        font-family: 'yhlqmdlg';
        font-size: 0.7rem;
        color: white;
        text-shadow: 0 2px 2px black;
        bottom: 200px;
        left: 6px;
    }
    
    
    .item:hover .porta {
        opacity: 1;
        width: 300px;
        filter: contrast(120%);
        cursor: pointer;
    }
    
    .item:hover .tituloDos {
        font-size: 0.7rem;
        color: greenyellow;
        cursor: pointer;
    }

    .separadorDos {
        height: 70px;
    }


}

@media screen and (max-width: 1080px) and (orientation: landscape) {
    .imagenes {
        gap: 2%;
        width: 50%;
        margin-top: 10%;
        margin-bottom: 20%;
        margin-left: 15%;
    }

    .categorias {
        width: 70%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0px 0px 30px black;
        
    }

}


@media screen and (max-width: 1380px) and (orientation: landscape) {

    .imagenes {
        gap: 2%;
        width: 50%;
        margin-top: 15%;
        margin-bottom: 20%;
        margin-left: 15%;
    }

    .categorias {
        width: 70%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0px 0px 30px black;
        
    }
}